body {
	font-family: "DMSans", sans-serif;
	font-weight: 400;
	/* background-color: #43155c; */
}
.header {
	padding: 25px 15px;
}
.header p {
	font-size: 42px;
	font-weight: 700;
	text-align: center;
}
.main {
}
.main__box {
	padding: 50px 40px;
}
.main__box > * {
	margin-bottom: 25px;
}
.picture {
	display: inline-block;
}
.main__box > p,
.main__box > span {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 65px;
}
.main__box > *:last-child {
	margin-bottom: 25px;
}
.picture {
}
.picture__image {
}
.main__box-icons {
	margin-bottom: 5px;
}
.footer {
	background-color: #17ad28;
	text-align: center;
	padding: 25px;
}
.footer p {
	color: #fff;
	font-family: "Barlow", sans-serif;
	text-transform: uppercase;
	font-size: 32px;
	font-weight: 800;
}